<style>
    #admin #users table {
        max-height: 36em;
        overflow-x: auto;
        overflow-y: auto;
    }
    #admin #users table, #admin #users table tr, #admin #users table tr td {
        border: 1px solid black;
    }
    #admin input {
        border: none 0;
        margin: 0.25em 0;
        padding: 0.1em 0.5em;
        font-size: 1.2em;
        width: fit-content;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
</style>
<script>
    const wipeChat = () => {
        $.ajax({
            type: 'POST',
            url: '/admin',
            data: JSON.stringify({
                token: '<%= session.token %>',
                action: 'wipeChat'
            }),
            contentType: "application/json; charset=utf-8",
            traditional: true,
            success: (data) => {
                $('#wipeChat').html(data.msg);
            }
        });
    }
</script>
<div id="admin">
    <div id="users">
        Users:
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
        
            <tbody>
                <% let users = await global.users.getAll() %>
                <% for (var i = 0; i < users.length; i++) { %>
                <tr>
                    <td><%= users[i]._id %></td>
                    <td><%= users[i].username %></td>
                    <td><%= users[i].email %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <br>
    <input type="button" value="Wipe Chat" onclick="wipeChat()" style="background-color: red;"></input> <span id="wipeChat"></span>
</div>
