<% if (query.reset) { %>
    <% if (global.pending.find(p => p.reset === query.reset)) { %>
        <style>
            #reset_field {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
            }
            #reset_field input {
                border: none 0;
                margin: 0.25em 0;
                padding: 0.1em;
                font-size: 1.5em;
                width: 12em;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
            }
        </style>
        <script>
            const checkPassword = () => {
                const password = $('#password').val();
                const cpassword = $('#cpassword').val();
        
                let errors = [];
        
                if (!password) errors.push('Password is required');
                else {
                    if (password.length < 8) errors.push('Password must be at least 8 characters long');
                    if (password.length > 32) errors.push('Password must be at most 32 characters long');
                    if (password !== cpassword) errors.push('Passwords do not match');
                    if (!password.match(/[a-z]/)) errors.push('Password must contain at least one lowercase letter');
                    if (!password.match(/[A-Z]/)) errors.push('Password must contain at least one uppercase letter');
                    if (!password.match(/[0-9]/)) errors.push('Password must contain at least one number');
                    //if (!password.match(/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/)) errors.push('Password must contain at least one special character');
                    if (!password.match(/^[a-zA-Z0-9!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+$/)) errors.push('Password contains invalid characters');
                }
        
                $('#errors').html(errors.join('<br>'));
                return errors.length === 0;
            }
            $(document).ready(() => {
                $('#reset').submit((e) => {
                    e.preventDefault();
                    let form = $('#reset')[0];
                    let formData = new FormData(form);
                    formData.append('reset', '<%= query.reset %>');
                    formData.append('type', 'password');
                    
                    if (checkPassword()) {
                        $.ajax({
                            type: 'POST',
                            url: '/forgotpassword',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: (data) => {
                                if (data.success) {
                                    window.location.href = '/login';
                                }
                                else {
                                    $('#errors').html(data.errors.join('<br>'));
                                }
                            }
                        });
                    }
                });
            });
        </script>
        <div id="reset_field">
            <form id="reset" method="POST" oninput="checkPassword();">
                <input id="password" type="password" name="password" placeholder="Password"> <br>
                <input id="cpassword" type="password" name="cpassword" placeholder="Confirm Password"> <br>
                <input type="submit" value="Reset">
            </form>
        </div>
        <div id="errors" style="color: red; text-align: center;"></div>
    <% } else { %>
        Reset not found.
    <% } %>
<% } else { %>
    <style>
        #reset_field {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        #reset_field input {
            border: none 0;
            margin: 0.25em 0;
            padding: 0.1em;
            font-size: 1.5em;
            width: 12em;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
    </style>
    <script>
        const checkEmail = () => {
            const email = $('#email').val();

            let errors = [];

            if (!email) errors.push('Email is required');

            $('#errors').html(errors.join('<br>'));
            return errors.length === 0;
        }
        $(document).ready(() => {
            $('#reset').submit((e) => {
                e.preventDefault();
                let form = $('#reset')[0];
                let formData = new FormData(form);
                formData.append('type', 'email');
                
                if (checkEmail()) {
                    $.ajax({
                        type: 'POST',
                        url: '/forgotpassword',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: (data) => {
                            if (data.success) {
                                $('#output').html('Check your email');
                            }
                            else {
                                $('#errors').html(data.errors.join('<br>'));
                            }
                        }
                    });
                }
            });
        });
    </script>
    <div id="reset_field">
        <form id="reset" method="POST" oninput="checkEmail();">
            <input id="email" type="text" name="email" placeholder="Email"> <br>
            <input type="submit" value="Reset">
        </form>
    </div>
    <div id="errors" style="color: red; text-align: center;"></div>
    <div id="output" style="color: green; text-align: center;"></div>
<% } %>